*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/choose
/choose.sh

/lkc/choose-text
/lkc/choose-ncurses
/lkc/zconf-parser.output
/lkc/zconf-parser.c
/lkc/zconf-parser.h
/lkc/zconf-scanner.c
/lkc/lkc_defs.h
/lkc/config.h.in
/lkc/config.h
/lkc/stamp-h1

/packrules/choose-packrules

/tools/autotools/compile
/tools/autotools/config.guess
/tools/autotools/config.sub
/tools/autotools/depcomp
/tools/autotools/install-sh
/tools/autotools/mdate-sh
/tools/autotools/missing
/tools/autotools/mkinstalldirs
/tools/autotools/texinfo.tex
/tools/autotools/ylwrap

/tools/maint/fetch
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/tools/maint/whitespace-detect
